# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
stage/*
*.pb.h
*.pb.cc
**/.vs/*
**/.bin/*
*.user
src/db/sqlite/.vscode/tasks.json
jde/blockly/types/proto/ib.proto
tests/ml/.vscode/launch.json
tests/ml/.vscode/tasks.json

*.i
src/web/build/*
src/crypto/.vscode/c_cpp_properties.json
src/crypto/.vscode/tasks.json
tests/crypto/.vscode/c_cpp_properties.json
/src/crypto/build
/src/crypto/Jde.Crypto.dir/Debug
/src/crypto/x64/Debug
jde/iot/types/proto/google/*
jde/iot/types/proto/FromServer.proto
src/iot/.vscode/c_cpp_properties.json
tests/web/.vscode/c_cpp_properties.json
tests/*.proto
**/.build/*
**/packages/*
**/x64/*
**/.vscode/settings.json
**/.vscode/c_cpp_properties.json
**/*.vcxproj
**/*.vcxproj.filters
libs/app/shared/proto/Web.FromServer.proto
**/.*.sql
**/my-workspace*/**
*.7z
**/.*
apps/OpcGateway/config/common-meta.libsonnet
apps/OpcServer/config/common-meta.libsonnet
apps/AppServer/config/common-meta.libsonnet
**/*.aps
