@use '@angular/material' as mat;
@use '@angular/cdk';
@use '../projects/jde-spa/src/styles/api';
@use '../projects/jde-spa/src/styles/markdown';
@use '../projects/jde-spa/src/styles/tables';
@use '../projects/jde-spa/src/styles/general';

.rounded-input{
  --mdc-outlined-text-field-container-shape: 30px !important;
  //border-radius: 50px 0 0 50px !important;
	//background-color: red;
}

html {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

	@include mat.system-classes();
  @include cdk.a11y-visually-hidden();
}

.my-content
{
	width: 100%;
}
a {
	color: inherit;
}
a:visited {
	color: magenta;
}
.mat-column-select{
	flex: 0 0 60px;
}
